/*-- Global Styles --*/
* {
  font-family: 'Hammersmith One', Helvetica, Arial, sans-serif;
}

h1 {
  color: #ffffff;
  font-family: 'Fugaz One', Helvetica, Arial, sans-serif;
}

h2 h3 h4 h5 h6 {
  font-family: 'Saira', Helvetica, Arial, sans-serif;
}

button {
  background: #6441a5;
  color: #fff;
  padding: 3px 5px;
}
/*-- End of Global Styles --*/
/*-- Header Styles --*/
header {
  background: #6441a5;
  text-align: center;
}

header > h1 {
  font-size: 24px;
  margin: 0;
  padding: 5px;
}

header > nav {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

header > nav a {
  
  color: #ffffff;
  font-family: 'Saira', Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding-bottom: 5px;
}
/*-- End of Header Styles --*/
/*-- Form Styles --*/
#twitchid {
  vertical-align: middle;
}
/*-- End of Form Styles --*/

/*-- Modal Styles --*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header {
  margin-top: 0;
  color: #6441a5;
}

.modal-body {
  margin: 20px 0;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*-- End of Modal Styles --*/

/*-- Tablet Media Queries --*/
@media (min-width: 696px) {
  /*-- Header Styles --*/
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header > h1 {
    padding: 10px;
    font-size: 30px;
  }

  header > nav {
    display: inline;
  }

  header > nav a {
    font-size: 20px;
    margin: 0 5px;
  }
  /*-- End of Header Styles --*/
}
/*-- End of Tablet Media Queries --*/

/*-- Desktop Media Queries --*/
@media (min-width: 1242px) {
  /*-- Global Styles --*/
  #app {
    width: 75%;
    margin: 0 auto;
  }
  /*-- End of Global Styles --*/

  /*-- Header Styles --*/
  header {
    justify-content: space-between;
  }

  header > h1 {
    font-size: 42px;
    padding: 12px;
  }

  header > nav a {
    font-size: 26px;
    margin: 0 10px;
  }
  /*-- End of Header Styles --*/
}
/*-- End of Desktop Media Queries --*/